/* Global Styles */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:400,700');

* { box-sizing: border-box; }

body { margin: 0; padding: 0 }
h1 { font-family: 'Merriweather', serif; font-size: 2.5em; font-weight: 700; padding: 0; margin: 0;}
h2 { font-family: 'Lato', serif; font-size: 1.5em; font-weight: 700; padding: 0; margin: 0; }
p { font-family: 'Lato', serif; font-size: 1em; font-weight: 400; padding: 0; margin: 0; }


/* Main Page */

#page { max-width: 1300px; margin: 0 auto; background: #f6de97; }

.clearbar { height: 300px; background: #fff url(../images/banner_1_1300.jpg) no-repeat center bottom; }

/* Header */

.topbar { 
	background: #e88363; 
	position: sticky; position: -webkit-sticky; 
	padding: 0; height: 100px; top: 0; 
	z-index: 10;
}
.topbar > a { text-decoration: none; }
.topbar h1 { position: absolute; top: 25px; left: 1em; color: #fff; }

.topbar::after {
	content: '';
	clear: both;
	display: block;
}

/* Navigation Bar - Main Menu */

nav {
	position: absolute; top: 0; right: 0;
}

nav ul { 
	list-style: none; 
	margin: 0; padding: 0;
}


nav > ul::before {
	content: '';
	border-left: 3px solid #fff;
	position: absolute; top: 1em; left: -3px; width: 10px; height: 70%;
}

nav ul li:hover { background:  #d1603b; }

nav > ul > li { display: table; float: left; position: relative; margin: 0; padding: 0; }

nav > ul > li > a { 
	display: table-cell; vertical-align: middle; padding: 0 20px;
	text-align: center; height: 100px; width: 100px;
}

nav a { font-family: 'Merriweather', sans-serif; font-size: 1.25em; color: #fff; text-decoration: none;}


nav ul li a:visited { color: #fff; }
nav ul li a:hover { color: #000; background:  #fd5f39; }



/* Navigation Bar - Sub Menu */

nav ul li:hover > ul { display: block; }

nav ul ul { position: absolute; list-style: none;
	padding: 0; top: 100%; left: 0;
	background:  #d1603b; margin: 0; display: none;
}

nav ul ul li { position: relative; 
	 padding: 0; margin: 0;
}

nav ul ul li a { display: inline-block; padding: 10px 20px; margin: 0; width: 150px; font-size: 1em; 
}

/* Home Page */

.case-intro { margin: 50px 25px; position: relative; }
.case-intro p { text-align: center; margin: 0 100px; }


/* Form Section */

.case-form { margin: 15px 15px 45px 25px; position: relative; }

.case-form::after { content:''; clear: both; display: block; }

.case-form > div { float: left; }

.case-form .content { margin: 0 0 0 20px; width: 50%; position: relative; }
.case-form .content h2 { margin-bottom: 10px; padding: 20px 0 0 0; text-align: center; }
.case-form .content p { margin-bottom: 10px; font-family: "Lato", serif; font-size: 1em; text-align: justify;}

.case-form .content::after { 
	content: ' '; position: absolute; top: 15%; right: -28%; 
	height: 100px; width: 100px;
	background: url(../images/arrow.svg) no-repeat right top; background-size: 75px 75px;
	-webkit-transform: rotate(-130deg);
	-moz-transform: rotate(-130deg);
	-ms-transform: rotate(-130deg);
	-o-transform: rotate(-130deg);
	transform: rotate(-130deg);
}

.case-form .visual { width: 45%; }

.case-form .result { 
	clear: both; display: block; text-align: center; width: 50%; margin: 0 0 0 20px;
	position: relative;
}
.case-form .result h2 { padding: 20px 0 0 0; margin-bottom: 15px; } 

.case-form .result::after { 
	content: ' '; position: absolute; top: 40%; right: -21%; 
	height: 100px; width: 100px;
	background: url(../images/arrow.svg) no-repeat right top; background-size: 75px 75px;
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	transform: rotate(30deg);
}


.box { 
	background: #79eff9; padding: 30px; 
	border-radius: 20px;
	width: 400px;
	top: 150px; right: 3%;
	position: absolute;
}

label { margin-right: 5px; width: 100px; display: inline-block; }
input { margin-bottom: 10px; }

.box::after { content:''; display: block; clear: both; }

input.smallbox { width: 15px; }
input.mediumbox { width: 125px; }

input[type="submit"] { position: absolute; top: 28px; left: 73%; padding: 20px; }

.case-form .result #result { 
	font-weight: bold; font-size: 1.5em; white-space: pre-wrap;
	border: 2px dotted #55a4aa; width: 100%; height: 100px; padding: 15px 0;
}

.case-form .result #result p { 
	-webkit-transition: opacity 5s;
	-ms-transition: opacity 5s;
	-moz-transition: opacity 5s;
	-o-transition: opacity 5s;
	transition: opacity 5s; 
	opacity: 0; 
}
.case-form .result #result p.appear { opacity: 1; }


/* Footer  */

#footer { background: #fff; font-family: 'Merriweather', serif; font-size: .75em; 
	color: rgba(0,0,0,.75); text-align: center; padding: 30px 30px; 
}

#footer div { margin-top: 10px; }



/* Media Queries */


@media screen and (max-width: 1150px) {

	h1 { font-size: 2em; }
	
	.topbar h1 { top: 30px; }

	.case-form .content, .case-form .result { width: 46%; }

	.case-form .content::after { 
		content: ' '; position: absolute; top: 10%; right: -40%; 
		height: 100px; width: 100px;
		background-size: 75px 75px;
	}

	.case-form .result::after { 
		content: ' '; position: absolute; top: 15%; right: -32%; 
		height: 100px; width: 100px;
		background-size: 75px 75px;
	}

}

@media screen and (max-width: 975px) {

	h1 { font-size: 1.5em; }

	.clearbar { background: #fff url(../images/banner_1_1000.jpg) no-repeat center bottom; }
	
	.topbar h1 { top: 35px; }

	nav a { font-size: 1em; }

	nav > ul::before { border-left: 2px solid #fff; left: -2px; height: 50%; margin-top: 10px; }

	.case-form { margin-left: 15px; }

	.case-form > div { float: none; width: 100%; }

	.case-form .content { width: 100%; margin: 0; }

	.case-form .content::after, .case-form .result::after { display: none; }
	
	.case-form .visual { width: 100%; margin: 0 auto; }

	.box { position: relative; top: 0; margin: 0 auto; right: 0; }

	.case-form .result { width: 100%; margin: 0; }

}


@media screen and (max-width: 800px) {

	.clearbar { background: #fff url(../images/banner_1_800.jpg) no-repeat center bottom; }
	
	.topbar { height: 125px; text-align: center; }

	.topbar h1 { 
		position: static; line-height: 50px;
		padding: 15px 0 5px 0;
		display: inline-block;
	}

	nav { width: 350px; position: static; margin: 0 auto; height: 50px; display: block; }

	nav > ul { margin-top: 5px; }

	nav > ul::before { 
		border-top: 1px solid #fff; border-left: none;
		width: 60%; display: inline-block; margin: 58px 20% 0 20%;
	}

	nav > ul > li, nav > ul > li > a { height: 50px; }

	nav > ul > li > a { display: inline-block; padding-top: 15px; width: auto; }

	nav ul ul li a { padding-left: 20px; text-align: left; }

	.case-form .result #result { height: 150px; }

	.case-form .result #result p { padding: 30px 0; }

	.case-form .visual { margin-top: 30px; }	

}

@media screen and (max-width: 500px) {

	.box { 
		padding-top: 30px; padding-bottom: 70px; 
		width: 300px; font-size: .9em;
	}

	form label:nth-child(11) { display: inline; }

	input[type="submit"] { position: absolute; top: 75%; left: 35%; padding: 10px 20px;  }

	.case-form .result #result { font-size: 1.2em; }

}

@media screen and (max-width: 400px) {

	.topbar h1 { font-size: 1.25em; }
	nav { width: 275px; margin: 0 auto; }
	nav > ul > li { width: auto; }
	nav > ul > li > a { width: auto; padding: 15px 10px 0 10px; }
	nav ul ul li a { padding-left: 12px; font-size: .75em; width: 100px; }
}

